/* Xcursion CSS overrides
*/
html, body {
  font-family: Lato, san-serif; !important;
}

.page-content {
   min-height: 400px;
}

.sort-icon {
    font-size: 80%;
    padding-left: 5px;
}

.abbr {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

